*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

a         { color: #45B29D; text-decoration: none; }
a:hover   { color: #DF4949; text-decoration: underline; }

body {
  background: ghostwhite;
  font-family: Georgia, sans-serif;
}

/* main body */
.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
}

.container span {
  margin: auto 10px;
  text-align: right;
}

/* Main Forms */

form {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.5);
  width: 400px;
  padding: 30px;
  margin: 10px auto;
  border-radius: 5px;
  background: #334D5C;
}
 
form input:focus {
  width: 95%;
}

form input {
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  border:none;
  border-radius: 3px;
}

form input:hover {
  background-color:white;
  color:black;
}

.submit {
  width: 30%;
  background-color: #2E2E2E;
  color:white;
  border-radius: 0;
}

/* _navigation helper */
  
  /* header */
header {
  padding: 10px;
  height: 60px;
  background: #45B29D;
}

header a {
  color: white;
}

header a:hover {
  text-decoration: none;
  color: white;
}

header h1 {
  color: ghostwhite;
  margin: 0;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
}
  
  /* nav */
nav {
  position: absolute;
  top: 0;
  right:2%;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

nav a {
  color: black;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

nav li {
  display: inline;
  padding:10px;
}

/* user edit */

.edit {
  -webkit-box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.0);
  -moz-box-shadow:    0 0 0 0 rgba(50, 50, 50, 0.0);
  box-shadow:         0 0 0 0 rgba(50, 50, 50, 0.0);
  width: 600px;
  background-color: ghostwhite;
  border-radius: 0;
  border:0;
}

.edit input {
  border: 1px solid #dedede;
  width: 300px;
}

.edit ul {
  -webkit-box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.0);
  -moz-box-shadow:    0 0 0 0 rgba(50, 50, 50, 0.0);
  box-shadow:         0 0 0 0 rgba(50, 50, 50, 0.0);
  width: 600px;
  background-color: ghostwhite;
  border-radius: 0;
  border:0;
}

.edit li {
  list-style-type: none;
  width: 100%;
  border:none;
  border-radius: 3px;
}

.calendar {
  width: 80%;
  margin: 15px auto;
  padding:10px;
}