<%= erb :_navigation, locals: {user: @user} %>

<div class="profile">

  <form class="edit">
  <ul>
    <li><%= @user.email %></li>
    <li><input name="" type="email"></li>
    <input type="submit" value="save" name="submit" class="submit">
  </ul>
  </form>
</div>