<header>
  <h1><a href="/user">scheduleit.io</a></h1>
</header>

<nav>
  <ul>
    <li><a href="/user/<%= current_user.id %>/request">request off</a></li>
    <li><a href="/user/<%= current_user.id %>/edit">profile</a></li>
    <li><a href="/user/<%= current_user.id %>/logout">logout</a></li>
  </ul>
</nav>