<div class="container">
  <% if @errors %>
    <p><%= @errors %></p>
  <% end %>
  <form action="/user/login" method="POST">
    <input placeholder="email" name="email" type="email">
    <input placeholder="password" type="password" name="password">
    <input type="submit" value="login" name="submit" class="submit">
    <span><a href="/user/signup">sign up</a></span><span><a href="/user/forgot">forgot password</a></span>
  </form>
</div>